.AcademicHistory{
    position: absolute;
    top:30%;
    left:20%;   
    background-color: #333;
    width:30%;
    height:40%;
}

#tvc{
    position: absolute;
    top:20%;
    left:2%;
    width: 10%;
    height: auto;
}

#tuks{
    position: absolute;
    top:53%;
    left:2%;
    width:10%;
    height:auto;
}