body {
    background-color:black;
    
  }
  
  p.name{
      position: fixed;
      top:10%;
      left:27%;
      text-decoration: underline;
      color: white;
      /* text-decoration: dotted; */
  }
.myPic{
  position: fixed;
  top:15%;
  left:70%;

  border-radius: 20%;
}

 
  
.myInfo{
  position: fixed;
  top:25%;
  left:30%;
  
  color: white;
  background-color: #333;
  border-style: solid;
  border-width:3px;
  border-color: aquamarine;
  width: 30%;
  height: 50%;
}

.infoWrapper{
  text-align: center;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
}
