#topnav{
    background-color: #333;
    overflow: hidden;
}

#topnav a{
    float: left;
    color: green;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    padding: 2% 3%;
}

#topnav a:hover{
    background-color: aquamarine;
    color:black;
}